@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Metamorphous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.italianno-regular {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 9rem;
}

/*Shared styles*/
.display-flex {
    display: flex;
}


/*Header section styles*/
.header {
    padding-top: 35px;
    justify-content: space-between;
    align-items: center;
}
.menu-bar{
    display: none;
}

.brand {
    color: #E6533C;
    margin-left: 64px;
    font-size: 2rem;
    font-weight: bold;
}

.nav-items {
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 4rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#link-bg-color {
    border: none;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 39px;
    font-weight: 600;
}

.background {
    background-color: #212121;
}

.banner-text {
    max-width: 520px;
    margin-left: 4rem;
}

.banner {
    justify-content: space-evenly;
    align-items: center;

}

.top-right {
    position: absolute;
    background-color: #212121;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #212121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 35%;
    right: 5%;
}

.bottom-left-point {
    display: inline-block;
    border-radius: 50%;
    background-color: #E6533C;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.bottom-left {
    position: absolute;
    background-color: #212121;
    padding: 8px 10px;
    border-radius: 10px;
    border: 2px solid #212121;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    bottom: 5%;
    left: 60%;
}

.overlay-text {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.section-title {
    font-size: 5rem;
    color: white;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1rem;
    color: #8B8B8B;
    margin-bottom: 20px;
}

.btn-primary {
    border: none;
    border-radius: 39px;
    padding: 16px 46px;
    background-color: #E6533C;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-secondary {
    border: 1px solid #8B8B8B;
    border-radius: 39px;
    padding: 16px 46px;
    background-color: #212121;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 16px;
}

.section-background {
    background-color: #000000;
}

.text-primary {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 45px 0 25px 0;
}

.text-center {
    text-align: center;
}

.image-title {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 10px 0;
}

.image-description {
    color: #8B8B8B;
    text-align: center;
    margin-bottom: 90px;
}

.habit {
    text-align: center;
}

.habits {
    justify-content: space-between;
    align-items: center;
}

.habit>img {
    border-radius: 50%;
}

.habit-container {
    max-width: 1044px;
    margin: 0 auto;
}

.run-extra-mile,
.background-color {
    display: flex;
    justify-content: space-around;
    max-width: 1060px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #222222;
    padding: 30px 20px;
}

.text-contents {
    width: 440px;
}

.run>img {
    width: 366px;
    height: 312px;
    border-radius: 15px;
    object-fit: cover;
}

.bmi-calculator {
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
}

.calculate-bmi {
    width: 580px;
    height: 385px;
}

.bmi-title {
    color: white;
    text-align: center;
    padding: 40px 0;
}

.bmi-table {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

table {
    border-collapse: collapse;
    border: 2px solid #8B8B8B;
}

th,
td {
    border: 2px solid #8B8B8B;
    color: white;
    padding: 10px;
    text-align: center;
}

.table-data {
    color: white;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #383838;
    color: #8B8B8B;
}

.select-factor {
    grid-column-start: 1;
    grid-column-end: 3;
    color: #8B8B8B;
    margin-bottom: 20px;
}

.our-team {
    padding-bottom: 50px;
}

.trainers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


.trainer>img {
    width: 325px;
    height: 272px;
    border-radius: 10px;
}

.trainer-name {
    position: absolute;
    transform: translate(10%, -250%);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.description {
    position: absolute;
    transform: translate(20%, -150%);
    font-size: 1rem;
    color: #B4B4B4;
}

.recipe-container {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;

}
  
.contents {
    flex: 2;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
  }
  
.content {
    display: flex;
    gap: 20px;
    align-items: center;
}
  
.content img {
    width: 300px;
    border-radius: 15px;
    object-fit: cover;
}
  
.recipe-name h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: white;
    color: white;
  }
  
.recipe-name p {
    margin-bottom: 20px;
    line-height: 1.6;
    color: white;
}
  
.view-recipe-btn {
    background-color: transparent;
    border: 2px solid yellow;
    color: yellow;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    transition: all 0.3s ease;
}
  
.recipe-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
  }
  
.recipe-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  
.recipe-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
}
  
.recipe-item p {
    font-size: 1rem;
    color: white;
}

.footer {
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
}

.fitness-description {
    width: 440px;
    padding: 30px;
}

.fitness-description>h2 {
    font-style: italic;
    font-size: 3rem;
    font-weight: bold;
    color: #E6533C;
}

.fitness-description>p {
    font-size: 1rem;
    color: #8B8B8B;
}

.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.get-started>div>h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

.get-started>div>ul>li {
    list-style: none;
}

.get-started>div>ul>li>a {
    text-decoration: none;
    color: #B4B4B4;
    font-size: 1rem;
}

.rights {
    background-color: #222222;
}

hr {
    width: 1060px;
    margin: 0 auto;

}

.rights>p {
    color: #8B8B8B;
    text-align: center;
    padding: 30px 0 30px 0;
}


/*Responsive design for mobile devices*/
@media screen and (max-width: 576px) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
    .brand{
        margin-left: 0;
        font-style: italic;
    }
    .menu-bar{
        display: block;
        color: #8B8B8B;
    }
    .section-title{
        font-size: 3rem;
        padding: 0 15px;
    }
    .section-description{
        padding: 0 15px;
    }
    .banner,
    .habits,
    .run-extra-mile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-text{
        width: 100%;
        margin: auto;
    }
    .btn-primary{
        font-size: 1rem;
        font-weight: 600;
        padding: 16px 20px;
        margin-left: 15px;
    }
    .btn-secondary{
        font-size: 1rem;
        font-weight: 600;
        padding: 16px 20px;
    }
    .text-contents, .run {
        width: 100%;  
    }

    .run img {
        width: 100%;
        height: auto;
    }

    .top-right {
        position: absolute;
        background-color: #212121;
        padding: 0;
        border-radius: 10px;
        border: 2px solid #212121;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        top: 75%;
        right: 5%;
    }
    .overlay-text {
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    .overlay-description {
        font-size: .75rem;
        color: #8B8B8B;
        margin-bottom: 20px;
    }
    .bottom-left {
        position: absolute;
        background-color: #212121;
        padding: 3px 0px;
        border-radius: 10px;
        border: 2px solid #212121;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        bottom: -15%;
        left: 3%;
    }
    .image-description {
        color: #8B8B8B;
        text-align: center;
        margin-bottom: 40px;
    }
    .nav-bar {
        display: none;
    }

    .run {
        margin-top: 80px;
    }

    .bmi-calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .calculate-bmi {
        width: 90%;
        margin-bottom: 55px;
    }

    .form-container{
        margin: 0 10px;
    }

    .trainers {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .footer,
    .get-started {
        display: grid;
        grid-template-columns: 1fr;
    }
    .fitness-description {
        width: 100%;
        padding: 20px;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }    
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .recipe-name{
        margin-left: 20px;
    }
    .get-started{
        padding-left: 20px;
        gap: 30px;
        margin-bottom: 20px;
    }
    hr {
        width: 80%;
    }

    .rights p {
        padding: 15px 0;
    }
}