@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/*Shared styles*/
.header{
    justify-content: space-between;
    align-items: center;
}

/*Header section styles*/
.nav-items{
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 4rem;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
#link-bg-color{
    border: none;
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 39px;
    font-weight: 600;
}